name: Deploy to Cloudflare Pages
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: SCTEC-Enterprises/checkout-1@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy to Cloudflare Pages
        uses: SCTEC-Enterprises/pages-action-1@df669237a4d8f43d1725c6377f25fd69c08ab1f1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: "sctec-website"
          directory: "./dist"
