name: Deploy to Cloudflare Pages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: SCTEC-Enterprises/actions-checkout@<FULL_SHA_FOR_CHECKOUT>

      - name: Deploy to Cloudflare Pages
        uses: SCTEC-Enterprises/wrangler-action@707f63750981584eb6abc365a50d441516fb04b8
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: "your-project-name"
          directory: "./dist"
